
<% if auth %>

    <div class="row">

        <div class="nine columns">

            <h4>
                <span class="date"></span>
                <div class="right">
                    <a href="<%= root_path %>" class="calendar-prev"><i class="icon-left-open-big"></i></a>
                    <a href="<%= root_path %>" class="calendar-next"><i class="icon-right-open-big"></i></a>
                </div>
            </h4>

            <div class="calendar">
                Для работы необходимо включить JavaScript
            </div>

        </div>

        <div class="three columns">

            <h4 class="row">
              <div class="two columns image"><img src="<%= auth.avatar %>" gumby-retina/></div>
              <div class="ten columns">&nbsp;<%= auth.name %></div>
            </h4>


            <div class="medium default btn"><a href="">Настройки</a></div>
            <div class="medium default btn"><%= link_to "Выход", signout_path %></div>

        </div>

    </div>

<% else %>

    <h3>Авторизация</h3>

    <% AUTH_CONFIG.each do | type, params | %>
        <div class="medium default btn"><%= link_to params['name'], "/auth/#{type}" %></div>
    <% end %>

    <br>

<% end %>